language: node_js
node_js:
  - "10"
script:
  - npm test
after_success:

  - nyc report --reporter=text-lcov | coveralls
  services:
  - postgresql
  before_script:
  - psql -c 'create database epicmail;' -U postgres